.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: 0.5rem 0;
}

.input,
.select {
  flex: 1 1 30%;
  background-color: white;
  border: 0.1rem solid gray;
  padding: 0.2rem;
  font-family: 'Times New Roman', Times, serif;
}

.textarea {
  flex-basis: 100%;
  font-family: 'Times New Roman', Times, serif;
  padding: 0.2rem;
}

.input:focus,
.select:focus,
.textarea:focus {
  outline: 0;
  font-weight: bold;
}