.background {
  width: 100vw;
  height: 100vh;
  background-color: #f6ecf0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50vw;
  box-shadow: 0.2rem 0.2rem 0.2rem gray;
}

.logIn {
  padding: 0.5rem;
  text-align: center;
  background-color: white;
}

.loginButton {
  all: unset;
  background-color: white;
  border: 0.15rem solid gray;
  padding: 0.5rem;
  width: 60%;
  margin: 0.2rem 0;
  font-size: 1rem;
}

.loginButton:hover {
  background-color: #ffe6e6;
  cursor: pointer;
  transform: scale(1.005);
}


