.container {
  width: 80vw;
  box-shadow: 0.2rem 0.2rem 0.2rem gray;
  margin: 3% auto;
}

.editorAndPreview {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #dbeede;
}

@media screen and (max-width: 62rem) {
  .background {
    height: auto;
  }

  .editorAndPreview {
    flex-direction: column;
    align-items: center;
  }
}